

/* Main Section */


.mainSection {
    background-image: url(/Assets/Images/swipe--6-VfxCDuoY-unsplash.jpg);
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em;
    color: currentColor;
    color: #13259a;
}

.statistics {
    display:flex;
    justify-content: center;
    align-items: center;
}
.statslist {
    display: flex;
    gap: 25px;
    text-align: center;
}
.statslist li {
    padding: 1em 2em;
     background: #ffffff65;
    color: #080c75;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #13259a;
    transition: 2s;
}

.statslist li:hover {
    transform: scale(1.15);
    color: #ffe4c4;
    transition: transform 3s color 2s;
    background-color: #13259a;
    box-shadow: 0px 0px 30px #ffe4c4;
}

/*  */
#resources {
    display: flex;
    margin-top: 1.5em;
    justify-content: center;
}
#resourceTitle {
    display: block;
    text-align: center;
}

.claslist {
    flex: 1;
    text-align: center;
    /* border: 0.2em solid  #16168ab3; */
    padding: 0em 1em;
    margin: 1em;
    /* height: 250px; */
    box-sizing: content-box;
    background: #ffffff65;
    color: #13259a;
    box-sizing: content-box;
}

.claslist h2 {
    padding: 1em 0.5em;
    letter-spacing: 0.2em;
    font-family: monospace;
}

.claslist li {
    padding: 1em;
    margin: 1em 0em;
    background-color: transparent;
}

.claslist li:hover {
    box-shadow: 0em 0.5em 0.5em #080c75;
}

/* Community */

#community {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background: #ffe4c448;
    box-shadow: 0em 0em 2em #ffe4c4;
    gap: 1%;
}
.sideBar {
    margin: 0.2em;
    /* border: 0.5em solid #080c75; */
    padding: 1em;
}
.sideBar:nth-child(1){
    flex: 1 60%;
    background-color: #080c7545;
}
.sideBar:nth-child(2){
    flex: 1 40%;
    background-color: #3e41939c;
}

/* Log in page */

form fieldset  {
    border: none;
}
 #formStudent, #formTeacher {
    display: block;
    justify-content: center;
    justify-self: center;
    margin: 5em 2em 2em 2em;
    padding: 2.5em;
    border: 0.2em solid #ffe4c4;
    border-radius: 2em;
    width: fit-content;
    background: #080c7554;
    transition: 1s;
/* 
    background:url(/Assets/Images/Writing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover; */
}
#formStudent:hover, #formTeacher:hover {
    /* background:url(/Assets/Images/Writing.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
    box-shadow: 0em 0em 2em 1em #080c75;
    transition: 1s;
}

.labels {
    text-align: center;
}

.labels label {
    padding: 0.5em 1em;
    margin: 0.2em 0.5em;
    border: 0.1em solid #ffe4c4;
    border-radius: 0.5em ;
    cursor:pointer; 
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin: 1.5em 1em;
    border:solid;
    text-align: center;
}
.user a:nth-child(1) {
    display: none;
}
.user a:nth-child(n){
    border: solid;
}

.inputs {
    display:flex;
    justify-content: center;
    flex-direction: column;  
}

.inputs input {
    padding: 1em 0.2em;
    margin: 0.5em 0em;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    color: #fff;
    border-bottom: 0.2em double #080c75;
}



.inputs input:nth-last-child(1) {
    background-color: #080c75;
    color: #ffe4c4;
    padding: 1em 0.5em;
}

.terms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0em 0em 0em ;
}


/* Community */
