

/* Main Section */


.mainSection {
    background-image: url(/Assets/Images/swipe--6-VfxCDuoY-unsplash.jpg);
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em;
    color: currentColor;
    color: #13259a;
}

.statistics {
    display:flex;
    justify-content: center;
    align-items: center;
}
.statslist {
    display: flex;
    gap: 25px;
    text-align: center;
}
.statslist li {
    padding: 1em 2em;
     background: #ffffff65;
    color: #080c75;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #13259a;
    transition: 2s;
}

.statslist li:hover {
    transform: scale(1.15);
    color: #ffe4c4;
    transition: transform 3s color 2s;
    background-color: #13259a;
    box-shadow: 0px 0px 30px #ffe4c4;
}

/*  */
#resources {
    display: flex;
    margin-top: 1.5em;
    justify-content: center;
}
#resourceTitle {
    display: block;
    text-align: center;
}

.claslist {
    flex: 1;
    text-align: center;
    /* border: 0.2em solid  #16168ab3; */
    padding: 0em 1em;
    margin: 1em;
    /* height: 250px; */
    box-sizing: content-box;
    background: #ffffff65;
    color: #13259a;
    box-sizing: content-box;
}

.claslist h2 {
    padding: 1em 0.5em;
    letter-spacing: 0.2em;
    font-family: monospace;
}

.claslist li {
    padding: 1em;
    margin: 1em 0em;
    background-color: transparent;
}

.claslist li:hover {
    box-shadow: 0em 0.5em 0.5em #080c75;
}

/* Community */

#community {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background: #ffe4c448;
    box-shadow: 0em 0em 2em #ffe4c4;
    gap: 1%;
}
.sideBar {
    margin: 0.2em;
    /* border: 0.5em solid #080c75; */
    padding: 1em;
}
.sideBar:nth-child(1){
    flex: 1 60%;
    background-color: #080c7545;
}
.sideBar:nth-child(2){
    flex: 1 40%;
    background-color: #3e41939c;
}

/* Log in page */

form fieldset  {
    border: none;
}
 #formStudent {
    display:block;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    /* border: solid #080c75; */
    /* width: fit-content; */
    /* height: fit-content; */
    padding:10px 20px;
    color: #ffe4c4;
    background-color: #080c75;
    box-sizing: content-box;
    box-shadow: 0em 0em 2em #ffe4c4;
    border-radius: 15px;
}
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin: 1.5em 1em;
    border:solid;
    text-align: center;
}
.user a:nth-child(1) {
    display: none;
}
.user a:nth-child(n){
    border: solid;

}

/*
#formTeacher {
    display:block;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    /* border: solid #080c75; */
    /* width: fit-content; */
    /* height: fit-content; 
    padding:10px 20px;
    background-color: #ffe4c4;
    color: #080c75;
    box-shadow: 0em 0em 2em #ffe4c4;
    box-sizing: content-box;
    border-radius: 15px;
}

#formTeacher li:nth-child(2){
     color: #ffe4c4;
    background-color: #080c75;
    transition: 2s all;
}


.user {
    background-color: #000;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.user li {
    width: 100%;
    padding: 0.9em 1em;
    margin: 2em 1em;
    background-color: #080c75;
    border-radius: 0.5em;
}
    */

.inputs {
    display:flex;
    justify-content: center;
    flex-direction: column;  
}

.inputs input {
    padding: 1em 0.2em;
    margin: 0.5em 0em;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    border: 0.2em solid #13259a;
}
.inputs input:hover {
    border: 0.2em solid #080c75;
}

.inputs input:nth-last-child(1) {
    background-color: #080c75;
    color: #ffe4c4;
    padding: 1em 0.5em;
    text-align: center;
}

.terms {
    display: flex;
    justify-content: center;
    align-items: center;
}
